*{
    margin:0;
    padding:0;
}
body{
    font-size:1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6
}

header{
    background-color:#f7b600;
    padding: 15px;
    text-align: center;
}
.logo, #menu{
    padding: 10px;
}
h1{
    color: #4e4e4e;
    font-size: 2.5em;
}
.branco{
    color: white;
}
a{
    text-decoration: none;
}
a:link,a:visited{
    color: #f7b600;
}
a:hover{
    text-decoration: underline;
}
#menu a:link, #menu a:visited{
    color: white;
    padding: 5px 10px;
}
#menu a:hover{
    color: #f7b600;
    background-color: white;
    text-decoration: none;
}
main{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}
h2{
    color: #f7b600;
    font-weight: bold;
}

.preto{
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#area-postagens{
    width: 660px;
    float: left;
}
#area-lateral{
    width: 240px;
    float: right;
}
footer{
    background-color: #ccc;
    clear: both;
    text-align: center;
    padding: 15px;
}
.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

h3{
    color: rgb(26, 25, 25);
    background-color: rgb(160, 155, 155);
    padding: 5px;
}

.postagens-recentes{
    background-color: white;
    padding: 10px;
}

.categoria{
    background-color: white;
    margin-top: 10px;
    padding: 10px;
}
li{
    list-style: none;
    color: #f7b600;
}






